<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
    <div class="container">

        <h1>Add a Snake</h1>
        <div class="row">
            <a href="/snakes">Home</a> | <a href="/snakes/all">View all Snakes</a>
        </div>
        <form action="/snakes/add" id="snakeForm" class="form-horizontal" method="POST">
            {% csrf_token %}
            <div class=" form-group">
                {% if messages %}
                {% for message in messages %}
                {% if message.extra_tags == 'name' %}
                <span class="errors col-sm-12" style="color: red; font-size: 10pt;">{{message}}</span>
                {% endif %}
                {% endfor %}
                {% endif %}
                <label class="col-sm-3" for="name">Name:</label>
                <div class="form-group col-sm-6">
                    <input type="text" name="name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                {% if messages %}
                {% for message in messages %}
                {% if message.extra_tags == 'length' %}
                <span class="errors col-sm-12" style="color: red; font-size: 10pt;">{{message}}</span>
                {% endif %}
                {% endfor %}
                {% endif %}
                <label class="col-sm-3" for="length">Length:</label>
                <div class="form-group col-sm-6">
                    <input type="number" name="length" class="form-control">
                </div>
            </div>
            <div class="form-group">
                {% if messages %}
                {% for message in messages %}
                {% if message.extra_tags == 'venomous' %}
                <span class="errors col-sm-12" style="color: red; font-size: 10pt;">{{message}}</span>
                {% endif %}
                {% endfor %}
                {% endif %}
                <label class="col-sm-3" for="venomous">Venomous:</label>
                <div class="form-group text-right col-sm-6">
                    <input class="bigger-checkbox" type="checkbox" name="venomous" value="True">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="col-sm-4 col-sm-offset-3 btn btn-default">
            </div>
        </form>
    </div>
</body>

</html>